<!DOCTYPE html>
<html ng-app="demo" lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<title>AngularJS Practice</title>
</head>
<body ng-controller="demoCtrl">
	
	<div class="style">
		<ul> TO DO LIST 
			<li ng-repeat="todo in todos | filter:filterList track by $index">{{todo + " "}}<button type="reset" ng-click="remove(item)">completed</button></li>
		</ul>
		<input type="text" ng-model="todo" placeholder="enter a task here">
		<button type="submit" ng-click="getTodo(todo)">Add To List</button>
		<input id ="filter" type="text" ng-model="filterList" placeholder="filter your list">
	</div>
	<!--below is leftover markup from when we were going over this as a class-->
	<!--p>{{message}}</p>
	<ul>
		<li ng-repeat="item in food">{{item}}</li>
	</ul>

	<input type="text" ng-model="dog.name">
	<input type="text" ng-model="dog.breed">
	<button ng-click="sayHello(dog)" type="button">Say Hi to Dog</button>
	<ul>
		<li ng-repeat="dog in buddies">{{dog.name + " " + dog.breed}}</li>
	</ul>

	<!--input type="text" ng-model="message">
	<input type="text" ng-model="name">
	<p> {{ message + " " + name }} </p>

	<input type="number" ng-model="cost" placeholder="quost">
	<input type="number" ng-model="qty" placeholder="quantity">
	<p>Total: {{cost*qty}}</p>

	<input type="text" ng-model="adjective" placeholder="adjective">
	<input type="text" ng-model="noun" placeholder="noun">
	<input type="text" ng-model="verb" placeholder="verb">

	<p>the <span class="lib">{{adjective || "adjective"}}</span> <span class="lib">{{noun || "noun"}}</span> did a <span class = "lib">{{adjective || "adjective"}} </span> <span class="lib">{{verb || "verb"}}</span></p>

	<input type="text" ng-model="adj1" placeholder="adjective">
	<input type="text" ng-model="noun1" placeholder="noun">
	<input type="text" ng-model="adj2" placeholder="adjective">
	<input type="text" ng-model="noun2" placeholder="noun">
	<input type="text" ng-model="verb1" placeholder="verb">
	<input type="text" ng-model="verb2" placeholder="verb">
	<input type="text" ng-model="adj3" placeholder="adjective">
	
	<input type="text" ng-model="noun3" placeholder="noun">
	
	<p><span class="lib">{{adj1 + " "}} </span> <span class="lib">{{" " + noun1}}</span> Jones was the <span class="lib">{{adj2}}</span> pirate on the salty <span class="lib">{{noun2}}</span></p>
	<p>whenever <span class="lib">{{noun1}}</span> would <span class="lib">{{verb1}}</span>, he would <span class="lib">{{verb2 + " " + adj3}}</span></p>

	<div ng-init="slipknot = ['corey taylor', 'the clown','the guitarist','the drummer', 'the other clown', 'and like three other guys']"></div>
	<h3>guys from slipknot</h3>
	<ul>
		<li ng-repeat="guys in slipknot | filter:searchKnot">{{guys}} from slipknot</li>
	</ul>
	<input type="text" ng-model="searchKnot">
	<h3>Cast of Transformers Movie</h3>
	<div ng-init="transformers = ['optimus truck', 'shia leboeuf','bumble bee car', 'bernie mac cameo', 'megatron ', 'screaming plane', 'other various cars and trains']"></div>
	<ul>
		<li ng-repeat="cast in transformers | filter: searchTrans">{{cast | uppercase }}</li>
	</ul>
	<input type="text" ng-model="searchTrans"-->
	<script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
	<script src ="script.js"></script>
</body>
</html>